{
  "agents": {
    "defaults": {
      "model": "anthropic/${OPENCLAW_MODEL}"
    },
    "list": [
      {
        "id": "openclaw",
        "name": "openclaw",
        "workspace": "${OPENCLAW_WORKSPACE_DIR}",
        "default": true
      }
    ]
  },
  "tools": {
    "profile": "minimal",
    "web": {
      "search": {
        "enabled": true
      }
    },
    "fs": {
      "workspaceOnly": true
    }
  },
  "channels": {
    "telegram": {
      "botToken": {
        "source": "env",
        "provider": "default",
        "id": "TELEGRAM_BOT_TOKEN"
      }
    }
  },
  "models": {
    "providers": {
      "anthropic": {
        "apiKey": {
          "source": "env",
          "provider": "default",
          "id": "OPENCLAW_ANTHROPIC_KEY"
        }
      }
    }
  }
}
